* {
  margin: 0;
  padding: 0;
}

#footer {
  background-color: #FFFEF1;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
}

.body{
  text-align: center;
  
}

